body{
    background-image: url('hatter.png');
}
.udvozles{
    margin: auto;
    text-align: center;
    color: #fcfcfc;
    font-size: 90px;
    font-style: italic;
    padding: 30px;
    padding-top: 300px;
    
}
.cimek{
    margin: auto;
    text-align: center;
    color: #fcfcfc;
    font-size: 90px;
    font-style: italic;
    padding: 30px;

    
}
.alcim{
    margin: auto;
    text-align: center;
    color: #fcfcfc;
    font-size: 70px;
    font-style: italic;
    padding: 30px;
    padding-bottom: 370px;
}
.udvozleskisebb{
    margin: auto;
    text-align: center;
    color: #fcfcfc;
    font-size: 90px;
    font-style: italic;
    padding: 30px;
    padding-top: 200px;
    
}
.alcimkisebb{
        margin: auto;
        text-align: center;
        color: #fcfcfc;
        font-size: 70px;
        font-style: italic;
        padding: 30px;
        padding-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 15px;
    overflow: hidden;
    background-color: #37251b;
    font-size: 28px;
  }
  .kezdo{
    float: left;
  }
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #d2c1b0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.macsek{
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;

}
.macsek p{
  font-size: 25px;
}
.macskakep{
  height: 800px;
  border: solid 5px black ;
  width: 500px;
  
}
  
.kezdolap1{
    margin: auto;
    background-color: #37251b;
    padding: 15px;
    color: #fcfcfc;
    text-align: center;
    font-size: 25px;
}
.asztalfoglalas{
    display: block;
    color: #d2c1b0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.asztalfoglalasos{
    margin: auto;
    display: flex;
    border: solid 10px black;
    border-radius: 10px;
}

.cicamica{
  margin: auto;
  background: rgba(0, 128, 0, 0.3);
  padding: 60px;
  color:  #37251b;
  text-align: center;
  font-size: 40px;
}
.nagy{
  color: #fcfcfc;
  background-color: #37251b;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.fodiv{
    margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.szolgaltatasok{
    display: inline-block;
    color: #fcfcfc;
    background-color: #37251b;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    border: solid 5px #d2c1b0;
    border-radius: 10px;
    text-align: center;
}

.elerhetosegek{
    background-color: #37251b;
    color: #fcfcfc;
    border: #d2c1b0 solid 5px;
    border-radius: 15px;
    width: 1200px;
    height: 600px;
    margin: auto;
    padding: 50px;
    font-size: 70px;
}

.telo{
    width: 100px;
    height: 100px;
}

a{
    display: block;
    color: #fcfcfc;
    text-align: center;
    padding: 14px 16px;
    
}