body{
    background-image: url('hatter.png');
}


.udvozles{
    margin: auto;
    text-align: center;
    color: #fcfcfc;
    font-size: 90px;
    font-style: italic;
    padding: 30px;
}
.alcim{
    margin: auto;
    text-align: center;
    color: #fcfcfc;
    font-size: 70px;
    font-style: italic;
    padding: 30px;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 15px;
    overflow: hidden;
    background-color: #37251b;
    font-size: 28px;
  }
  .kezdo{
    float: left;
  }
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #d2c1b0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  